---
import VideoCarousel from "../components/videoCarousel.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/MujerValiente/favicon.svg"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
		<title>Mujer Valiente al Volante</title>
	</head>
	<body class="font-roboto scroll-smooth">
		<nav class="bg-white shadow-md fixed w-full top-0 z-50 h-28">
			<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
				<div class="flex justify-between">
					<!-- Logo -->
					<div class="flex items-center">
						<img
							class="h-20 md:h-28"
							src="/MujerValiente/logo-mujer-otro.png"
							alt=""
						/>
					</div>

					<!-- Menu (Desktop) -->
					<div class="hidden md:flex space-x-8 items-center">
						<a
							href="#inicio"
							class="text-gray-600 hover:text-[#e784b0] text-xl"
							>Mujer Valiente al Volante</a
						>
						<a
							href="#porque-nosotros"
							class="text-gray-600 hover:text-[#e784b0] text-xl"
							>¿Por qué Nosotros?</a
						>
						<a
							href="#clases"
							class="text-gray-600 hover:text-[#e784b0] text-xl"
							>Clases</a
						>
						<a
							href="#precios"
							class="text-gray-600 hover:text-[#e784b0] text-xl"
							>Precios</a
						>
						<a
							href="#contacto"
							class="text-gray-600 hover:text-[#e784b0] text-xl"
							>Contacto</a
						>
						<a
							href="#reserva"
							class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-500"
							>Reserva tu Clase</a
						>
					</div>

					<!-- Mobile Menu Button -->
					<div class="md:hidden flex items-center">
						<button
							id="mobile-menu-button"
							class="text-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-600"
						>
							<svg
								class="w-6 h-6"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M4 6h16M4 12h16M4 18h16"></path>
							</svg>
						</button>
					</div>
				</div>
			</div>

			<!-- Mobile Menu -->
			<div id="mobile-menu" class="md:hidden hidden bg-white z-50">
				<a
					href="#inicio"
					class="block px-4 py-2 text-gray-600 hover:bg-gray-100"
					>Inicio</a
				>
				<a
					href="#porque-nosotros"
					class="block px-4 py-2 text-gray-600 hover:bg-gray-100"
					>¿Por qué Nosotros?</a
				>
				<a
					href="#clases"
					class="block px-4 py-2 text-gray-600 hover:bg-gray-100"
					>Clases</a
				>
				<a
					href="#precios"
					class="block px-4 py-2 text-gray-600 hover:bg-gray-100"
					>Precios</a
				>
				<a
					href="#contacto"
					class="block px-4 py-2 text-gray-600 hover:bg-gray-100"
					>Contacto</a
				>
				<a
					href="#reserva"
					class="block bg-indigo-600 text-white px-4 py-2 text-center mt-2 rounded-md hover:bg-indigo-500"
					>Reserva tu Clase</a
				>
			</div>
		</nav>
		<section
			id="inicio"
			class="bg-[url('/MujerValiente/section_1_bg.jpg')] bg-fixed bg-cover"
		>
			<div
				class="backdrop-blur-sm pt-32 md:pt-48 flex flex-col md:flex-row bg-gradient-to-b from-pink-100/20 from-40% via-pink-300/20 via-60% to-pink-400/30 to-90%"
			>
				<div
					class="w-full md:w-1/2 gap-6 flex flex-col items-center justify-center"
				>
					<h1
						class="w-2/3 text-center text-3xl font-normal text-white"
					>
						Más que un curso, un viaje hacia la seguridad y la
						confianza
					</h1>
					<h1
						class="w-3/4 md:w-2/3 text-center text-2xl font-light text-white"
					>
						Mujer Valiente al Volante es más que un simple curso de
						manejo. Es un viaje de autodescubrimiento y
						empoderamiento, donde guiamos a nuestros alumnos a
						alcanzar sus metas al volante. Creemos que cada persona
						tiene un potencial infinito y que, con la práctica
						adecuada y la confianza en sí mismos, pueden conquistar
						cualquier camino.
					</h1>
				</div>
				<div
					class="relative w-full md:w-1/2 pt-10 md:pt-0 flex item-center justify-center"
				>
					<img
						class="border-4 border-[#e784b0] w-2/3"
						src="/MujerValiente/hero-img.jpg"
						alt=""
					/>
					<div class="absolute -bottom-6">
						<h1
							class="bg-[#e784b0] text-white text-xl tracking-wider px-2"
						>
							Lilian Segura Cancino
						</h1>
						<p class="bg-[#e784b0] text-white text-center">
							Profesora y Fundadora
						</p>
					</div>
				</div>
				<div
					class="md:absolute w-full md:top-32 pt-10 md:pt-0 text-white text-center flex flex-col items-center justify-center"
				>
					<h1
						class="text-2xl tracking-wider bg-[#e784b0] w-fit px-2 pt-2"
					>
						Encuentra tu camino al volante con confianza y seguridad
					</h1>
					<h2
						class="text-xl tracking-wide bg-[#e784b0] w-fit px-2 pb-2"
					>
						En Mujer Valiente al Volante, transformamos el
						aprendizaje de conducción en una experiencia de
						empoderamiento.
					</h2>
				</div>
			</div>
		</section>
		<section
			id="porque-nosotros"
			class="py-4 md:pt-28 flex flex-col gap-8 bg-gradient-to-b from-white to-pink-100"
		>
			<h1
				class="text-2xl tracking-wider text-center text-white w-fit mx-auto bg-[#e784b0] px-2 pt-2"
			>
				¿Por qué elegirnos?
			</h1>
			<p
				class="text-xl tracking-wide text-center w-3/4 md:w-1/2 mx-auto font-light"
			>
				En Mujer Valiente al Volante, creemos que aprender a conducir no
				solo es una habilidad, sino una oportunidad para ganar confianza
				en ti mismo. Nuestras clases no se limitan a la técnica de
				manejo; son una experiencia integral para vencer el miedo,
				aprender a tomar decisiones seguras en la carretera y disfrutar
				del proceso de aprendizaje.
			</p>
			<div class="flex flex-col md:flex-row gap-3 w-11/12 mx-auto">
				<div
					class="w-full md:w-1/5 h-48 border flex gap-2 flex-col items-center justify-center p-4 text-center bg-[#e784b0] rounded-lg"
				>
					<svg
						height="40px"
						viewBox="0 -960 960 960"
						width="40px"
						fill="#fffFFF"
						><path
							d="M620-520q25 0 42.5-17.5T680-580q0-25-17.5-42.5T620-640q-25 0-42.5 17.5T560-580q0 25 17.5 42.5T620-520Zm-280 0q25 0 42.5-17.5T400-580q0-25-17.5-42.5T340-640q-25 0-42.5 17.5T280-580q0 25 17.5 42.5T340-520Zm140 260q68 0 123.5-38.5T684-400H276q25 63 80.5 101.5T480-260Zm0 180q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Z"
						></path></svg
					>
					<h1 class="text-white">Enfoque empático:</h1>
					<h1 class="text-white">
						Nuestros instructores enseñan de manera paciente y
						respetuosa, adaptándose a las necesidades de cada
						alumno.
					</h1>
				</div>
				<div
					class="w-full md:w-1/5 h-48 border flex gap-2 flex-col items-center justify-center p-4 text-center bg-[#e784b0] rounded-lg"
				>
					<svg
						height="40px"
						viewBox="0 -960 960 960"
						width="40px"
						fill="#fffFFF"
						><path
							d="M702-480 560-622l57-56 85 85 170-170 56 57-226 226Zm-342 0q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 260Zm0-340Z"
						></path></svg
					>
					<h1 class="text-white">Clases personalizadas:</h1>
					<h1 class="text-white">
						Diseñamos las clases a tu ritmo, ya seas principiante o
						buscando perfeccionarte para el examen.
					</h1>
				</div>
				<div
					class="w-full md:w-1/5 h-48 border flex gap-2 flex-col items-center justify-center p-4 text-center bg-[#e784b0] rounded-lg"
				>
					<svg
						height="40px"
						viewBox="0 -960 960 960"
						width="40px"
						fill="#fffFFF"
						><path
							d="M560-360q17 0 29.5-12.5T602-402q0-17-12.5-29.5T560-444q-17 0-29.5 12.5T518-402q0 17 12.5 29.5T560-360Zm-30-128h60q0-29 6-42.5t28-35.5q30-30 40-48.5t10-43.5q0-45-31.5-73.5T560-760q-41 0-71.5 23T446-676l54 22q9-25 24.5-37.5T560-704q24 0 39 13.5t15 36.5q0 14-8 26.5T578-596q-33 29-40.5 45.5T530-488ZM320-240q-33 0-56.5-23.5T240-320v-480q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H320Zm0-80h480v-480H320v480ZM160-80q-33 0-56.5-23.5T80-160v-560h80v560h560v80H160Zm160-720v480-480Z"
						></path></svg
					>
					<h1 class="text-white">Preparación integral:</h1>
					<h1 class="text-white">
						No solo te preparamos para el examen práctico, sino
						también para conducir con seguridad en cualquier
						situación.
					</h1>
				</div>
				<div
					class="w-full md:w-1/5 h-48 border flex gap-2 flex-col items-center justify-center p-4 text-center bg-[#e784b0] rounded-lg"
				>
					<svg
						height="40px"
						viewBox="0 -960 960 960"
						width="40px"
						fill="#fffFFF"
						><path
							d="M480-260q68 0 123.5-38.5T684-400H276q25 63 80.5 101.5T480-260ZM312-520l44-42 42 42 42-42-84-86-86 86 42 42Zm250 0 42-42 44 42 42-42-86-86-84 86 42 42ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Z"
						></path></svg
					>
					<h1 class="text-white">Ambiente seguro y cómodo:</h1>
					<h1 class="text-white">
						Nuestros alumnos siempre se sienten acompañados y
						apoyados, lo que reduce el estrés al aprender a
						conducir.
					</h1>
				</div>
				<div
					class="w-full md:w-1/5 h-48 border flex gap-2 flex-col items-center justify-center p-4 text-center bg-[#e784b0] rounded-lg"
				>
					<svg
						height="40px"
						viewBox="0 -960 960 960"
						width="40px"
						fill="#fffFFF"
						><path
							d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm0-360h160v-200H160v200Zm240 0h160v-200H400v200Zm240 0h160v-200H640v200ZM320-240v-200H160v200h160Zm80 0h160v-200H400v200Zm240 0h160v-200H640v200Z"
						></path></svg
					>
					<h1 class="text-white">Horarios flexibles:</h1>
					<h1 class="text-white">
						Nos adaptamos a tu agenda, ofreciendo clases en horarios
						que se ajusten a tus necesidades diarias.
					</h1>
				</div>
			</div>
			<div class="mx-4">
				<h1
					class="text-2xl tracking-wider text-center text-white w-fit mx-auto bg-[#e784b0] px-2 pt-2"
				>
					Testimonios
				</h1>
				<div class="mx-auto flex flex-col md:flex-row w-3/4">
					<div
						class="w-full md:w-1/2 flex flex-col items-center justify-center gap-4 px-4"
					>
						<h1
							class="text-2xl tracking-wider text-center font-normal pt-4 md:pt-0"
						>
							Historias de éxito
						</h1>
						<p class="text-xl text-center tracking-wide font-light">
							Nuestros alumnos no solo aprenden a conducir, sino
							que también descubren la confianza en sí mismos.
							Aquí están algunas de sus experiencias:
						</p>
					</div>
					<div class="w-full md:w-1/2 px-4">
						<VideoCarousel />
					</div>
				</div>
			</div>
		</section>
		<section
			id="clases"
			class="bg-[url('/MujerValiente/section_3_bg.jpg')] bg-fixed bg-cover"
		>
			<div
				class="backdrop-blur-sm bg-gradient-to-b from-pink-100/20 from-40% via-pink-300/20 via-60% to-pink-400/30 to-90%"
			>
				<div
					class="flex flex-col items-center justify-center gap-6 gap-4"
				>
					<h2
						class="w-1/2 mx-auto text-center text-3xl text-pink-600 tracking-wide pt-10"
					>
						Empodera tu Conducción
					</h2>
					<p
						class="w-1/2 mx-auto text-center tracking-wider font-ligth text-lg text-white"
					>
						En Mujer Valiente al Volante, no solo te enseñamos a
						conducir, te ayudamos a conquistar el volante con
						confianza. Nuestro programa de coaching está diseñado
						para que superes el examen práctico y te conviertas en
						una conductora segura y hábil.
					</p>
				</div>
				<div class="w-3/4 mx-auto pt-10 flex-col">
					<div
						class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3"
					>
						<div class="border backdrop-blur-lg">
							<h1
								class="p-5 bg-gradient-to-b from-white to-pink-100 text-[#e784b0] font-semibold text-xl text-wider"
							>
								Clases Prácticas
							</h1>
							<p class="p-5 text-white">
								5 sesiones de 1 hora al volante. Aprende desde
								cero o perfecciona tus habilidades para el
								examen.
							</p>
						</div>
						<div class="border backdrop-blur-lg">
							<h1
								class="p-5 bg-gradient-to-b from-white to-pink-100 text-[#e784b0] font-semibold text-xl text-wider"
							>
								Preparación Teórica
							</h1>
							<p class="p-5 text-white">
								Cuestionario completo para reforzar tus
								conocimientos teóricos antes del examen.
							</p>
						</div>
						<div class="border backdrop-blur-lg">
							<h1
								class="p-5 bg-gradient-to-b from-white to-pink-100 text-[#e784b0] font-semibold text-xl text-wider"
							>
								Enfoque Personalizado
							</h1>
							<p class="p-5 text-white">
								Adaptamos nuestras clases a tu nivel, ya seas
								principiante o tengas experiencia previa.
							</p>
						</div>
						<div class="border backdrop-blur-lg">
							<h1
								class="p-5 bg-gradient-to-b from-white to-pink-100 text-[#e784b0] font-semibold text-xl text-wider"
							>
								Simulacro de Examen
							</h1>
							<p class="p-5 text-white">
								Practica en condiciones reales para sentirte
								preparada el día de tu prueba oficial.
							</p>
						</div>
						<div class="border backdrop-blur-lg">
							<h1
								class="p-5 bg-gradient-to-b from-white to-pink-100 text-[#e784b0] font-semibold text-xl text-wider"
							>
								Todo Incluido
							</h1>
							<p class="p-5 text-white">
								Sin costos ocultos. El uso del vehículo está
								incluido en el precio de las clases.
							</p>
						</div>
						<div class="border backdrop-blur-lg">
							<h1
								class="p-5 bg-gradient-to-b from-white to-pink-100 text-[#e784b0] font-semibold text-xl text-wider"
							>
								Acompañamiento Opcional *
							</h1>
							<p class="p-5 text-white">
								Opción de que tu instructora te acompañe el día
								del examen para mayor confianza.
							</p>
						</div>
						<div
							class="flex justify-center items-center md:col-span-2 lg:col-span-3 pb-10"
						>
							<button
								class="text-lg px-8 py-3 bg-pink-600 hover:bg-pink-700 text-white rounded-lg"
								><a href="">¡Reserva tu primera clase ahora!</a
								></button
							>
						</div>
					</div>
					<div class="text-white pb-10">
						<h1>
							* Entendemos que el día del examen puede ser
							estresante. Por eso, ofrecemos un servicio especial
							de acompañamiento:
						</h1>
						<ul class="list-disc ps-10">
							<li>
								Tu instructora puede reservar la hora del examen
								por ti.
							</li>
							<li>
								Opción de que te acompañemos el día del examen
								para darte apoyo moral.
							</li>
							<li>
								Repaso de últimos consejos y técnicas antes de
								tu prueba.
							</li>
							<li class="font-bold text-normal">
								Servicio disponible por un costo adicional.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="precios" class="bg-gradient-to-t from-white to-pink-100">
			<div class="w-full lg:w-1/2 mx-auto">
				<div
					class="flex flex-col items-center justify-center gap-4 pt-10"
				>
					<h2 class="text-3xl">Precios</h2>
					<p
						class="text-xl tracking-wide text-center font-xl font-light"
					>
						Nuestro programa de Coaching está diseñado para
						brindarte la mejor preparación posible. Invierte en tu
						seguridad y confianza al volante.
					</p>
				</div>
				<div
					class="flex flex-col md:flex-row items-stretch justify-center gap-10 pt-10"
				>
					<div class="flex flex-col flex-1 border">
						<div
							class="py-8 px-5 flex justify-between gap-12 bg-gradient-to-b from-white to-pink-100 text-[#e784b0]"
						>
							<h1 class="text-xl">Programa Completo</h1>
							<p class="p-1 border rounded-xl text-xs">
								Recomendado
							</p>
						</div>
						<div class="">
							<h1
								class="text-3xl font-bold tracking-wide py-4 ps-4"
							>
								$80.000
							</h1>
							<ul class="flex flex-col gap-3 ps-4 pb-4">
								<li class="flex gap-2">
									<span
										><svg
											xmlns="http://www.w3.org/2000/svg"
											class="icon icon-tabler icon-tabler-check"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="#00b341"
											fill="none"
											stroke-linecap="round"
											stroke-linejoin="round"
										>
											<path
												stroke="none"
												d="M0 0h24v24H0z"
												fill="none"></path>
											<path d="M5 12l5 5l10 -10"></path>
										</svg></span
									> 5 clases prácticas de conducción
								</li>
								<li class="flex gap-2">
									<span
										><svg
											xmlns="http://www.w3.org/2000/svg"
											class="icon icon-tabler icon-tabler-check"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="#00b341"
											fill="none"
											stroke-linecap="round"
											stroke-linejoin="round"
										>
											<path
												stroke="none"
												d="M0 0h24v24H0z"
												fill="none"></path>
											<path d="M5 12l5 5l10 -10"></path>
										</svg></span
									> Matrícula incluida
								</li>
								<li class="flex gap-2">
									<span
										><svg
											xmlns="http://www.w3.org/2000/svg"
											class="icon icon-tabler icon-tabler-check"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="#00b341"
											fill="none"
											stroke-linecap="round"
											stroke-linejoin="round"
										>
											<path
												stroke="none"
												d="M0 0h24v24H0z"
												fill="none"></path>
											<path d="M5 12l5 5l10 -10"></path>
										</svg></span
									> Preparación integral para el examen
								</li>
								<li class="flex items-center gap-2 text-xs">
									<span
										><svg
											xmlns="http://www.w3.org/2000/svg"
											class="icon icon-tabler icon-tabler-alert-circle"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="#9e9e9e"
											fill="none"
											stroke-linecap="round"
											stroke-linejoin="round"
										>
											<path
												stroke="none"
												d="M0 0h24v24H0z"
												fill="none"></path>
											<path
												d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"
											></path>
											<path d="M12 8v4"></path>
											<path d="M12 16h.01"></path>
										</svg></span
									> $5.000 de matrícula no reembolsable para reservar
									tu cupo
								</li>
							</ul>
						</div>
					</div>
					<div class="flex flex-col flex-1 border">
						<div
							class="py-8 px-5 bg-gradient-to-b from-white to-pink-100 text-[#e784b0]"
						>
							<h1 class="text-xl">Clase Individual</h1>
						</div>
						<div>
							<h1
								class="text-3xl font-bold tracking-wide py-4 ps-4"
							>
								$15.000
							</h1>
							<ul class="flex flex-col gap-3 ps-4 pb-4">
								<li class="flex gap-2">
									<span
										><svg
											xmlns="http://www.w3.org/2000/svg"
											class="icon icon-tabler icon-tabler-check"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="#00b341"
											fill="none"
											stroke-linecap="round"
											stroke-linejoin="round"
										>
											<path
												stroke="none"
												d="M0 0h24v24H0z"
												fill="none"></path>
											<path d="M5 12l5 5l10 -10"></path>
										</svg></span
									> 1 clase práctica de conducción
								</li>
								<li class="flex gap-2">
									<span
										><svg
											xmlns="http://www.w3.org/2000/svg"
											class="icon icon-tabler icon-tabler-check"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="#00b341"
											fill="none"
											stroke-linecap="round"
											stroke-linejoin="round"
										>
											<path
												stroke="none"
												d="M0 0h24v24H0z"
												fill="none"></path>
											<path d="M5 12l5 5l10 -10"></path>
										</svg></span
									> Flexibilidad para programar
								</li>
								<li class="flex gap-2">
									<span
										><svg
											xmlns="http://www.w3.org/2000/svg"
											class="icon icon-tabler icon-tabler-check"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="#00b341"
											fill="none"
											stroke-linecap="round"
											stroke-linejoin="round"
										>
											<path
												stroke="none"
												d="M0 0h24v24H0z"
												fill="none"></path>
											<path d="M5 12l5 5l10 -10"></path>
										</svg></span
									> Ideal para reforzar habilidades específicas
								</li>
							</ul>
						</div>
					</div>
				</div>
				<h1 class="text-center text-gray-500 pt-10 font-sm">
					¿Tienes preguntas sobre nuestros precios o programas? No
					dudes en contactarnos para más información.
				</h1>
			</div>
		</section>
	</body>
</html>

<script>
	const menuButton = document.getElementById("mobile-menu-button");
	const mobileMenu = document.getElementById("mobile-menu");

	menuButton.addEventListener("click", () => {
		mobileMenu.classList.toggle("hidden");
	});
</script>
